script type='text/x-template' id='x-template-borrowers'     = render partial: 'vue/borrowers'
script type='text/x-template' id='x-template-borrower'      = render partial: 'vue/borrower'
script type='text/x-template' id='x-template-borrower_form' = render partial: 'vue/borrower_form'

script type='text/x-template' id='x-template-payments'      = render partial: 'vue/payments'
script type='text/x-template' id='x-template-payment'       = render partial: 'vue/payment'
script type='text/x-template' id='x-template-payment_form'  = render partial: 'vue/payment_form'

script type='text/x-template' id='x-template-analytics'     = render partial: 'vue/analytics'

#profit-loan-calculator
  analytics
  borrowers
